.jumbotron {
	font-size: 60px;
	background: #F38181 !important;
}

.tintedImage {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(252, 227, 138, 0.45), 
      rgba(252, 227, 138, 0.45)
    ),
    /* bottom, image */
    url("../images/daisies.jpg");
}

.calmerFont {
	font-family: "Questrial";
}

.sexyFont {
	font-family: "Shrikhand";
}

.btn-default {
	margin: 2px;
	font-size: 16px;
}

#gif-input {
	width: 90%;
}

.middleSize {
	font-size: 25px;
}

.panel {
	width: 95%;
	background-color: #95E1D3 !important;
}

img {
	width: 270px;
	height: 250px;
}

.item {
	width: 250px;
	float: left;
	margin: 15px;
}

p {
	width: 250px;
}

.submitButton {
	width: 90%;
	margin-left: 1px;
}